.heading{
    width: 100%;
    text-align: center;
    /* margin-top: 65px; */
    font-weight: normal;
}

.buttonBar{
  position: relative;
}
.button-custom{
  width: 150px;
  height: 60px;
  background-color: cornflowerblue;
  color: black;
  border-color: black;
  font-size: 13px;
}

.send-data{
  display: block;
  position: relative;
  margin-left: 47%;
  margin-top: 5%;
  background-color: gray;
  padding: 1% auto;
  color: white;
}
.get-data{
  display: block;
  position: relative;
  margin-left: 47%;
  margin-top: 2%;
  background-color: gray;
  padding: 1% auto;
  color: white;
}
.file{
  border: none;
  width: 100px;
  font-size: 12px;
  margin-top: 1%;
}
.browse, .send {
  width: 100px;
  height: 30px;
  margin-left: 4%;
  margin-top: 1%;
}
.active{
  font-style: bold;
  border: 1px dotted black;
  text-align: left;
  width: 10%;
}
.fileselect{
  margin-left: 4%;
}
.step{
  margin-top: 1%;
}
.send{
  background-color: gold;
}
.chart-container{
  width: 100%;
  height: 500px;
}